@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(6, 97%, 12%);
  font: 400 1rem/1.5 "Montserrat", sans-serif;
  color: hsl(32, 100%, 97%);
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2, p {
  max-width: 50ch;
}

.btn {
  max-width: 12.5rem;
  padding: 1rem 2rem;
  margin: 1.5rem auto;
  border-radius: 1.875rem;
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn.dark {
  background-color: hsl(6, 96%, 18%);
  color: hsl(32, 100%, 97%);
}
@media (min-width: 1000px) {
  .btn.dark {
    background-color: transparent;
    border: 1px solid hsl(6, 96%, 18%);
    color: hsl(6, 96%, 18%);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  .btn.dark:hover {
    background-color: hsl(6, 96%, 18%);
    color: hsl(32, 100%, 97%);
  }
}

.btn.light {
  background-color: hsl(32, 100%, 97%);
  color: hsl(6, 96%, 18%);
}
@media (min-width: 1000px) {
  .btn.light {
    background-color: transparent;
    color: hsl(32, 100%, 97%);
    border: 1px solid hsl(32, 100%, 97%);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  .btn.light:hover {
    background-color: hsl(32, 100%, 97%);
    color: hsl(6, 96%, 18%);
  }
}

@media (min-width: 1000px) {
  header {
    position: sticky;
    top: 0;
    left: auto;
    bottom: auto;
    right: auto;
    z-index: 20;
  }
}

.nav-wrapper {
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.nav-wrapper label {
  margin: 1rem 1rem 0 auto;
  cursor: pointer;
  z-index: 20;
}
@media (min-width: 1000px) {
  .nav-wrapper label {
    display: none;
  }
}
.nav-wrapper input {
  display: none;
}
.nav-wrapper input:checked ~ nav {
  transform: translate(0, 625px);
}

nav {
  width: 100%;
  height: 39rem;
  background-color: hsl(6, 97%, 12%);
  padding-bottom: 5rem;
  margin-left: auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -39rem;
  left: 0;
  bottom: auto;
  right: auto;
  z-index: 4;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
nav li {
  width: 150%;
  max-width: 17.8125rem;
  height: 6.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid hsl(32, 100%, 97%);
}
@media (min-width: 1000px) {
  nav li {
    width: 12.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: none;
    border-left: 0.5px solid hsl(32, 100%, 97%);
  }
}
nav a {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
nav a:hover {
  background-color: hsl(32, 100%, 97%);
  color: hsl(6, 96%, 18%);
}
@media (min-width: 1000px) {
  nav {
    width: 100%;
    height: 6.25rem;
    padding-bottom: 0;
    position: static;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 0.5px solid hsl(32, 100%, 97%);
  }
}

.logo {
  font-size: 1.5rem;
}
@media (min-width: 1000px) {
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .logo-img-wrapper, .logo-name {
    width: 12.5rem;
    height: 6.25rem;
    border-right: 0.5px solid hsl(32, 100%, 97%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.logo-img {
  width: 4.75rem;
  padding: 0 5px 5px 0;
  margin-top: 1.5rem;
}
@media (min-width: 1000px) {
  .logo-img {
    width: 3.75rem;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1000px) {
  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.hero {
  width: 100%;
  height: 56vw;
  max-height: 43.75rem;
  background: center/cover no-repeat url(./landingpg-hero-lg.jpg), hsla(162, 63%, 3%, 0.15);
  background-blend-mode: multiply;
}

.welcome-card {
  display: inline-block;
  max-width: calc(100% - 2rem);
  padding: 1.5rem 2.5rem;
  background-color: hsla(32, 100%, 97%, 0.75);
  color: hsl(162, 63%, 3%);
  position: relative;
  top: 65%;
  left: auto;
  bottom: auto;
  right: auto;
}
.welcome-card p {
  font-size: clamp(1.125rem, 1.0875rem + 0.18vw, 1.25rem);
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 1000px) {
  .welcome-card {
    position: relative;
    top: 15rem;
    left: clamp(12rem, 42.7vw - 14.7rem, 28rem);
    bottom: auto;
    right: auto;
  }
}

h1 {
  font-size: clamp(2.25rem, 1.725rem + 2.25vw, 3.75rem);
  margin-bottom: 1.5rem;
}

.linebreak {
  display: table;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  font-size: clamp(1.625rem, 1.6rem + 0.18vw, 1.75rem);
}

.intro {
  border-top: 0.5px solid hsl(32, 100%, 97%);
}
@media (min-width: 1400px) {
  .intro {
    display: grid;
    grid-template-columns: 12.5rem 1fr 12.5rem;
    grid-template-rows: auto;
  }
}

.hello {
  padding: 19rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 800px) {
  .hello {
    padding-top: 15rem;
  }
}
@media (min-width: 1000px) {
  .hello {
    padding-top: 6rem;
  }
}
@media (min-width: 1400px) {
  .hello {
    grid-column: 2/3;
    border-left: 0.5px solid hsl(32, 100%, 97%);
    border-right: 0.5px solid hsl(32, 100%, 97%);
  }
}

.pitch {
  font-weight: 500;
  font-size: clamp(1.375rem, 1.025rem + 1.5vw, 2.375rem);
}

video {
  display: block;
  width: 37.5rem;
  max-width: 100%;
  margin: 3.5rem auto;
  cursor: pointer;
}

.reservation, .newsletter {
  border-top: 0.5px solid hsl(32, 100%, 97%);
}
@media (min-width: 1400px) {
  .reservation, .newsletter {
    display: grid;
    grid-template-columns: 12.5rem 1fr 12.5rem;
    grid-template-rows: auto;
  }
}

.book-table, .subscribe {
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
}
@media (min-width: 1000px) {
  .book-table, .subscribe {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 1400px) {
  .book-table, .subscribe {
    grid-column: 2/3;
    border-left: 0.5px solid hsl(32, 100%, 97%);
    border-right: 0.5px solid hsl(32, 100%, 97%);
  }
}

@media (min-width: 1000px) {
  .book-table {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
}

.rsv-details, .subscr-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}

.rsv-img, .subscr-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 25rem;
  max-height: 31.25rem;
}

.op-hours {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.hours-list {
  font-weight: 200;
  font-size: 0.875rem;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.25rem;
}

form label {
  visibility: hidden;
  margin-top: -2rem;
}
form input, form button {
  display: block;
  width: 80%;
  max-width: 18.75rem;
  height: 3rem;
  padding-left: 1rem;
  border: 1px solid hsl(32, 100%, 97%);
  background-color: transparent;
  color: inherit;
  font-size: 1.125rem;
}
form button {
  padding: 0;
  background-color: hsl(32, 100%, 97%);
  color: hsl(6, 96%, 18%);
  cursor: pointer;
}
@media (min-width: 1000px) {
  form button {
    background: transparent;
    color: hsl(32, 100%, 97%);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  form button:hover {
    background-color: hsl(32, 100%, 97%);
    color: hsl(6, 96%, 18%);
  }
}

.view-menu {
  width: 100%;
  background: center/cover no-repeat url("./farmers-market.jpg"), hsla(162, 63%, 3%, 0.55);
  background-blend-mode: multiply;
  text-align: center;
  border-top: 0.5px solid hsl(32, 100%, 97%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 3rem;
  padding: 3rem 1rem;
}

.menu-card {
  width: 30rem;
  max-width: 100%;
  min-height: 21.875rem;
  margin: 0 auto;
  background: center/cover no-repeat url("./bacalaoabras.jpeg"), hsla(0, 0%, 0%, 0.4);
  box-shadow: 0px 1px 3px 1px hsla(0, 0%, 0%, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  letter-spacing: 0.5px;
}

.menu-special {
  min-width: 9.375rem;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;
  background-color: hsl(6, 96%, 18%);
  font-weight: 500;
  font-size: 0.875rem;
  color: hsl(32, 100%, 97%);
  text-transform: uppercase;
}

.menu-dish {
  width: 100%;
  height: 45%;
  padding: 0.5rem 0 1.5rem 0;
  margin-top: auto;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 0%, 0.45) 31%);
}

footer {
  width: 100%;
  border-top: 0.5px solid hsl(32, 100%, 97%);
}

.copyright {
  width: 100%;
  padding: 2rem 0;
  margin: 0 auto;
}/*# sourceMappingURL=style.css.map */