@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(6, 97%, 12%);
  font: 400 1rem/1.5 "Montserrat", sans-serif;
  color: hsl(32, 100%, 97%);
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn {
  max-width: 12.5rem;
  padding: 1rem 2rem;
  margin: 1.5rem auto;
  border-radius: 1.875rem;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn.dark {
  background-color: hsl(6, 96%, 18%);
  color: hsl(32, 100%, 97%);
}
@media (min-width: 1000px) {
  .btn.dark {
    background-color: transparent;
    border: 1px solid hsl(6, 96%, 18%);
    color: hsl(6, 96%, 18%);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  .btn.dark:hover {
    background-color: hsl(6, 96%, 18%);
    color: hsl(32, 100%, 97%);
  }
}

.btn.light {
  background-color: hsl(32, 100%, 97%);
  color: hsl(6, 96%, 18%);
}
@media (min-width: 1000px) {
  .btn.light {
    background-color: transparent;
    color: hsl(32, 100%, 97%);
    border: 1px solid hsl(32, 100%, 97%);
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
  }
  .btn.light:hover {
    background-color: hsl(32, 100%, 97%);
    color: hsl(6, 96%, 18%);
  }
}

.nav-wrapper {
  width: 100%;
  position: relative;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}
.nav-wrapper label {
  margin: 1rem 1rem 0 auto;
  cursor: pointer;
  z-index: 20;
}
.nav-wrapper input {
  display: none;
}
.nav-wrapper input:checked ~ nav {
  transform: translate(0, 625px);
}

nav {
  width: 100%;
  height: 625px;
  background-color: hsl(6, 97%, 12%);
  padding-bottom: 5rem;
  margin-left: auto;
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: -625px;
  left: 0;
  bottom: auto;
  right: auto;
  z-index: 4;
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
nav li {
  width: 150%;
  max-width: 17.8125rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid hsl(32, 100%, 97%);
}
nav a {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img {
  width: 4.75rem;
  padding: 0 5px 5px 0;
  margin-top: 1.5rem;
}

.logo {
  font-size: 1.5rem;
}

/*header {
  width: 100%;
  @include position(relative, $top: 0, $left: 0);
  overflow-x: hidden;
}

.nav-wrapper {
  width: 80vw;
  max-width: calc($space-base * 17.8125);
  margin-left: auto;
  background-color: $primary-color-red;
  @include place-ctr(flex, flex-end, center);
  flex-direction: column;
  font-weight: $font-wt-med;
  letter-spacing: 0.5px;
  text-align: center;
  label {
    margin: calc(0.75 * $space-base) $space-base 0 0;
    cursor: pointer;
    z-index: 10;
  }
  input {
    display: none;
    &:checked {
      ~ nav {
        transform: translate(calc($space-base * -17.8125), 0);
      }
      ~ .overlay {
        visibility: visible;
      }
    }
  }
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.4);
  @include position(absolute, $top: 0, $left: 0);
  z-index: 4;
  visibility: hidden;
  @include transition(visibility, $dur: 0.15s);
}

nav {
  width: 80vw;
  max-width: calc($space-base * 17.8125);
  height: 100vh;
  background-color: $primary-color-red;
  @include place-ctr(flex, center, center);
  flex-direction: column-reverse;
  row-gap: calc(1.5 * $space-base);
  @include position(absolute, $top: 0, $right: calc($space-base * -17.8125));
  padding-bottom: calc(1.5 * $space-base);
  z-index: 6;
  @include transition(transform);
  li {
    width: 150%;
    max-width: calc($space-base * 17.8125);
    height: 6.25rem;
    @include place-ctr(flex, center, center);
    border-bottom: 0.5px solid $body-txt-color;
  }
  a {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    @include place-ctr(flex, center, center);
    @include transition(all);
    &:hover {
      @include navhover();
    }
  }
}
.logo-img {
  width: 3.75rem;
  padding: 0 5px 5px 0;
}
.logo {
  font-size: $highlight-font-sz;
}*/
.hero {
  width: 100%;
  height: 56vw;
  max-height: 700px;
  background: center/cover no-repeat url(./landingpg-hero-lg.jpg), hsla(162, 63%, 3%, 0.15);
  background-blend-mode: multiply;
}

.welcome-card {
  display: inline-block;
  max-width: calc(100% - 2rem);
  padding: 1.5rem 2.5rem;
  background-color: hsla(32, 100%, 97%, 0.75);
  color: hsl(162, 63%, 3%);
  position: relative;
  top: 65%;
  left: auto;
  bottom: auto;
  right: auto;
}
.welcome-card p {
  font-size: clamp(1.125rem, 1.0875rem + 0.18vw, 1.25rem);
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  font-size: clamp(2.25rem, 1.725rem + 2.25vw, 3.75rem);
  margin-bottom: 1.5rem;
}
h1 .linebreak {
  display: table;
  margin: 0 auto;
}

/*.welcome-card {
  width: 80vw;
  max-width: 30rem;
  padding: calc(1.5 * $space-base);
  background-color: $card-bg-color;
  @include place-ctr(flex, center, center);
  flex-direction: column;
  @include box-shadow();
  color: $neutral-black;
  text-align: center;
  @include position(relative, $top: -6rem);
  p {
    font-size: $card-p-sz;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: calc(1.25 * $space-base) auto;
  }
}

h1 {
  font-size: $h1-font-sz;
}
.linebreak {
  display: table;
  margin: 0 auto;
}

article {
  width: 100%;
  padding: calc(4 * $space-base) $space-base;
  border: 0.5px solid $body-txt-color;
  border-bottom: 0.5px solid $body-txt-color;
  text-align: center;
  overflow: hidden;
  @include place-ctr(flex, center, center);
  flex-direction: column;
}



h2 {
  font-weight: $font-wt-semibold;
  font-size: $h2-font-sz;
}

p {
  max-width: 55ch;
}

.hello {
  @include place-ctr(flex, center, center);
  flex-direction: column;
}
.pitch {
  font-weight: $font-wt-med;
  font-size: $pitch-font-sz;
}
video {
  display: block;
  width: 37.5rem;
  max-width: 100%;
  margin: calc(2 * $space-base) auto 0 auto;
  cursor: pointer;
}

.book-table, .subscribe {
  width: 100%;
  @include place-ctr(flex, center, center);
  flex-direction: column;
}
.book-table {
  flex-direction: column-reverse;
}

.rsv-img, .subscr-img {
  width: 100%;
  max-width: 25rem;
  height: 100vw;
  max-height: 31.25rem;
  margin-top: $space-base;
  place-self: center;
}
.rsv-img {
  background-image: url("./rsv-img.jpg");
  background-size: cover;
}
.subscr-img {
  background-image: url("./subscr-img.jpg");
  background-size: cover;
}
.rsv-details, .subscr-form {
  display: flex;
  flex-direction: column;
  row-gap: calc(3 * $space-base);
  text-align: center;
  padding: calc(1.5 * $space-base);
  padding-top: 0;
}
.op-hours {
  @include place-ctr(flex, flex-start, center);
  column-gap: calc(4 * $space-base);
  margin-top: auto;
  p {
    font-weight: $font-wt-med;
  }
}
.hours-list {
  display: block;
  font-weight: $font-wt-xtralight;
  font-size: $small-txt;
  text-align: left;
  letter-spacing: 1px;
}

form {
  .lastp {
    margin: calc(-2 * $space-base) 0 calc(-4 * $space-base) 0;
  }
  label {
    visibility: hidden;
  }
  input, button {
    display: block;
    width: 80%;
    height: calc(3 * $space-base);
    margin: 0 auto;
    padding-left: calc(0.75 * $space-base);
    border: 1px solid $body-txt-color;
    background-color: transparent;
    color: inherit;
    font-size: $form-font-sz;
  }
  button {
    padding: 0;
    background-color: $body-txt-color;
    color: $accent-red;
    cursor: pointer;
    @include bp(sprout) {
      background: transparent;
      color: $body-txt-color;
      @include transition(all);
      &:hover {
        @include navhover();
      }
    }
  }
}

.view-menu {
  width: 100%;
  background: center / cover no-repeat url("./farmers-market.jpg"), hsla(162, 63%, 3%, 0.55);
  background-blend-mode: multiply;
  text-align: center;
  border-bottom: 0.5px solid $body-txt-color;
  @include place-ctr(flex, center, center);
  flex-direction: column;
  row-gap: calc(3 * $space-base);
  padding: calc(3 * $space-base) $space-base;
}
.menu-card {
  width: 30rem;
  max-width: 100%;
  min-height: 21.875rem;
  margin: 0 auto;
  background: center / cover no-repeat url("./bacalaoabras.jpeg"), hsla(0, 0%, 0%, 0.4);
  @include box-shadow();
  @include place-ctr(flex, center, center);
  flex-direction: column;
  row-gap: $space-base;
  letter-spacing: 0.5px;
}
.menu-special {
  min-width: 9.375rem;
  padding: calc(0.5 * $space-base) $space-base;
  margin-top: calc(1.5 * $space-base);
  background-color: $accent-red;
  font-weight: $font-wt-med;
  font-size: $small-txt;
  color: $body-txt-color;
  text-transform: uppercase;
}
.menu-dish {
  width: 100%;
  height: 45%;
  padding: calc(0.5 * $space-base) 0 calc(1.5 * $space-base) 0;
  margin-top: auto;
  font-weight: $font-wt-semibold;
  font-size: $highlight-font-sz;
  letter-spacing: 1px;
  background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 0%, 0.45) 31%);
}

footer {
  //border: 0.5px solid $body-txt-color;
  width: 100%;
  max-width: 89rem;
}
.copyright {
  width: 100%;
  margin: 0 auto;
  padding: calc(2 * $space-base);
  text-align: center; 
}


// Desktop version
.nav-wrapper {
  @include bp(sprout) {
    @include position(sticky, $top: 0, $left: 0);
    width: 89rem;
    max-width: 100%;
    margin: 0;
    height: 6.25rem;
    background-color: $primary-color-red;
    border: 0.5px solid $body-txt-color;
    flex-direction: row;
    z-index: 5;
    input, label, .overlay {
      display: none;
    }
  }
}
nav {
  @include bp(sprout) {
    position: static;
    width: 89rem;
    max-width: 100%;
    height: 6.25rem;
    padding: 0;
    @include place-ctr(flex, center, space-between);
    flex-direction: row;
    .logo, .nav-menu {
      @include place-ctr(flex, center, center);
      flex-direction: row;
    }
    .logo-img-wrapper, .logo-name, li {
      width: 12.5rem;
      height: 6.25rem;
      @include place-ctr(flex, center, center);
      border: none;
      padding: 0;
    }
    .logo-img-wrapper, .logo-name {
      border-right: 0.5px solid $body-txt-color;
    }
    .logo-name {
      width: 13rem;
    }
    .logo-img {
      padding: 0;
    }
    li {
      border-left: 0.5px solid $body-txt-color;
    }
  }
}


.welcome-card {
  @include bp(seedling) {
    width: clamp(30rem, 19.8rem + 18vw, 36rem);
    padding: calc(2.5 * $space-base) calc(2 * $space-base);
    @include position(absolute, $top: 40%, $right: 5%);
  }
}

article {
  @include bp(sprout) {
    width: 89rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: 12.5rem 1fr 12.5rem;
    grid-template-rows: auto;
    border-bottom: none;
    padding: 0;
  }
}
.hello, .book-table, .subscribe, footer {
  @include bp(sprout) {
    padding: calc(4 * $space-base) calc(0.5 * $space-base);  
    grid-column: 2 / 3;
    border-left: 0.5px solid $body-txt-color;
    border-right: 0.5px solid $body-txt-color;
  }
}
footer {
  padding: $space-base;
}
// Desktop version, side-by-side
.book-table, .subscribe {
  @include bp(seedling) {
    @include place-ctr(flex, center, space-between);
    flex-direction: row;
    column-gap: calc(1.5 * $space-base);
    padding: 0 calc(1.5 * $space-base);
  }
  @include bp(sprout) { 
    padding: calc(3 * $space-base) 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.hero, .view-menu {
  @include bp(seedling) {
    width: 100%;
    max-width: 89rem;
    border-left: 0.5px solid $body-txt-color;
    border-right: 0.5px solid $body-txt-color;
  }
}
*//*# sourceMappingURL=style.css.map */