//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

//Colors
$primary-color-red: hsla(6, 97%, 12%, 1);
$neutral-black: hsla(162, 63%, 3%, 1);
$body-txt-color: hsla(32, 100%, 97%, 1);
$card-bg-color:  hsla(32, 100%, 97%, 0.7);
$accent-red: hsla(6, 96%, 18%, 1);

//Fonts
$sans-serif: "Montserrat", sans-serif;
$font-wt-xtralight: 200;
$font-wt-light: 300;
$font-wt-norm: 400;
$font-wt-med: 500;
$font-wt-semibold: 600;

$font-sz-base: 1rem;
$body-txt-lnht: 1.5;

//Fluid typography
$h1-font-sz: clamp(calc(2.25 * $font-sz-base), calc(1.725 * $font-sz-base) + 2.25vw, calc(3.75 * $font-sz-base));
$h2-font-sz: clamp(calc(1.625 * $font-sz-base), calc(1.6 * $font-sz-base) + 0.18vw, calc(1.75 * $font-sz-base));
$pitch-font-sz: clamp(calc(1.375 * $font-sz-base), calc(1.025 * $font-sz-base) + 1.5vw, calc(2.375 * $font-sz-base));
$card-p-sz: clamp(calc(1.125 * $font-sz-base), calc(1.0875 * $font-sz-base) + 0.18vw, calc(1.25 * $font-sz-base));
$highlight-font-sz: calc(1.5 * $font-sz-base); //logo and daily dish
$form-font-sz: calc(1.125 * $font-sz-base);
$small-txt: calc(0.875 * $font-sz-base);

//Dimensions & spacing (width, height, padding, margin, border-radius)
$space-base: 1rem;

//Positioning elements
@mixin place-ctr($display, $align, $justify) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}
@mixin position($pos, $top: auto, $left: auto, $btm: auto, $right: auto) {
  position: $pos;
  top: $top;
  left: $left;
  bottom: $btm;
  right: $right;
}

@mixin box-shadow() {
  box-shadow: 0px 1px 3px 1px hsla(0, 0%, 0%, 0.1);
}

//Nav hover, focus states
@mixin navhover() {
  background-color: $body-txt-color;
  color: $accent-red;
}

//Animation transitions
@mixin transition($properties, $dur: 0.2s) {
  @each $property in $properties {
    transition-property: $property;
  }
  transition-duration: $dur;
  transition-timing-function: ease;
}

//Light and dark buttons
@mixin button-colors($light-button: true) {
  @if $light-button {
    background-color: $body-txt-color;
    color: $accent-red;
  } @else {
    background-color: $accent-red;
    color: $body-txt-color;
  }
  @include bp(sprout) {
    @if $light-button {
      background-color: transparent;
      color: $body-txt-color;
      border: 1px solid $body-txt-color;
      @include transition(all);
      &:hover {
        background-color: $body-txt-color;
        color: $accent-red;
      } 
    } @else {
      background-color: transparent;
      border: 1px solid $accent-red;
      color: $accent-red;
      @include transition(all);
      &:hover {
        background-color: $accent-red;
        color: $body-txt-color;
      }
    }
  }
}

//Media queries, bp = breakpoint
@mixin bp($point) {
  @if $point == plant {
    @media (min-width: 1600px) { @content; }
  }
  @if $point == sprout {
    @media (min-width: 1000px) { @content; }
  }
  @if $point == seedling {
    @media (min-width: 912px) { @content; }
  }
  @if $point == seed {
    @media (min-width: 600px) { @content; }
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  position:relative;
  overflow-x:hidden;
}

body {
  background-color: $primary-color-red;
  font: $font-wt-norm #{$font-sz-base}/#{$body-txt-lnht} $sans-serif;
  color: $body-txt-color;
}

ul {
  list-style: none;
  @include place-ctr(flex, center, center);
  flex-direction: column;
}

header {
  width: 80vw;
  max-width: calc($space-base * 17.8125);
  margin-left: auto;
  background-color: $primary-color-red;
  @include place-ctr(flex, flex-end, center);
  flex-direction: column;
  font-weight: $font-wt-med;
  letter-spacing: 0.5px;
  text-align: center;
  border: 1px dashed orange;
  //@include position(relative, $top: 0, $left: 0);
  overflow-x: hidden;
  label {
    margin: calc(0.75 * $space-base) $space-base 0 0;
    cursor: pointer;
    z-index: 10;
  }
  input {
    display: none;
    &:checked {
      ~ nav {
        transform: translate(calc($space-base * -17.8125), 0);
      }
      ~ .overlay {
        visibility: visible;
      }
    }
  }
}
.overlay {
  width: 100%;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.4);
  @include position(absolute, $top: 0, $left: 0);
  z-index: 3;
  visibility: hidden;
  @include transition(visibility, $dur: 0.15s);
}

nav {
  width: 80vw;
  max-width: calc($space-base * 17.8125);
  height: 110%;
  background-color: $primary-color-red;
  @include place-ctr(flex, center, center);
  flex-direction: column-reverse;
  row-gap: calc(1.5 * $space-base);
  @include position(absolute, $top: -4rem, $right: calc($space-base * -17.8125));
  padding-bottom: calc(1.5 * $space-base);
  z-index: 6;
  @include transition(transform);
  li {
    width: 150%;
    max-width: calc($space-base * 17.8125);
    height: 6.25rem;
    @include place-ctr(flex, center, center);
    border-bottom: 0.5px solid $body-txt-color;
  }
  a {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    @include place-ctr(flex, center, center);
    @include transition(all);
    &:hover {
      @include navhover();
    }
  }
}
.logo-img {
  width: 3.75rem;
  padding: 0 5px 5px 0;
}
.logo {
  font-size: $highlight-font-sz;
}

.hero {
  width: 100%;
  height: clamp(20rem, 3.28rem + 71vw, 43.75rem);
  background: 0 / 140% no-repeat url(./landingpg-hero-lg.jpg),  hsla(162, 63%, 3%, 0.15);
  background-blend-mode: multiply;
  position: relative;
  margin-bottom: 35vh;
}

.welcome-card {
  width: 30rem;
  max-width: calc(100% - 2rem);
  padding: calc(1.5 * $space-base);
  margin: 0 auto;
  background-color: $card-bg-color;
  @include box-shadow();
  color: $neutral-black;
  text-align: center;
  @include position(absolute, $top: 58%, $left: 0, $right: 0);
  p {
    font-size: $card-p-sz;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: calc(1.5 * $space-base) 0;
  }
}

h1 {
  font-size: $h1-font-sz;
}
.linebreak {
  display: table;
  margin: 0 auto;
}

.btn {
  max-width: 12.5rem;
  padding: $space-base calc(2 * $space-base);
  margin: 0 auto;
  border-radius: calc(1.875 * $space-base);
  color: inherit;
  text-decoration: none;
  @include place-ctr(flex, center, center);
  cursor: pointer;
}
.btn.dark {
  @include button-colors($light-button: false);
}
.btn.light {
  @include button-colors($light-button: true);
}

article {
  width: 100%;
  padding: calc(4 * $space-base) $space-base;
  border: 0.5px solid $body-txt-color;
  text-align: center;
  overflow: hidden;
  @include place-ctr(flex, center, center);
  flex-direction: column;
}

h2 {
  font-weight: $font-wt-semibold;
  font-size: $h2-font-sz;
}

p {
  max-width: 55ch;
}

.hello {
  @include place-ctr(flex, center, center);
  flex-direction: column;
}
.pitch {
  font-weight: $font-wt-med;
  font-size: $pitch-font-sz;
}
video {
  display: block;
  width: 37.5rem;
  max-width: 100%;
  margin: calc(2 * $space-base) auto 0 auto;
  cursor: pointer;
}

.book-table, .subscribe {
  width: 100%;
  @include place-ctr(flex, center, center);
  flex-direction: column;
}
.book-table {
  flex-direction: column-reverse;
}

.rsv-img, .subscr-img {
  width: 100%;
  max-width: 25rem;
  height: 100vw;
  max-height: 31.25rem;
  margin-top: $space-base;
  place-self: center;
}
.rsv-img {
  background-image: url("./rsv-img.jpg");
  background-size: cover;
}
.subscr-img {
  background-image: url("./subscr-img.jpg");
  background-size: cover;
}
.rsv-details, .subscr-form {
  display: flex;
  flex-direction: column;
  row-gap: calc(3 * $space-base);
  text-align: center;
  padding: calc(1.5 * $space-base);
  padding-top: 0;
}
.op-hours {
  @include place-ctr(flex, flex-start, center);
  column-gap: calc(4 * $space-base);
  margin-top: auto;
  p {
    font-weight: $font-wt-med;
  }
}
.hours-list {
  display: block;
  font-weight: $font-wt-xtralight;
  font-size: $small-txt;
  text-align: left;
  letter-spacing: 1px;
}

form {
  .lastp {
    margin: calc(-2 * $space-base) 0 calc(-4 * $space-base) 0;
  }
  label {
    visibility: hidden;
  }
  input, button {
    display: block;
    width: 80%;
    height: calc(3 * $space-base);
    margin: 0 auto;
    padding-left: calc(0.75 * $space-base);
    border: 1px solid $body-txt-color;
    background-color: transparent;
    color: inherit;
    font-size: $form-font-sz;
  }
  button {
    padding: 0;
    background-color: $body-txt-color;
    color: $accent-red;
    cursor: pointer;
    @include bp(sprout) {
      background: transparent;
      color: $body-txt-color;
      @include transition(all);
      &:hover {
        @include navhover();
      }
    }
  }
}

.view-menu {
  width: 100%;
  background: center / cover no-repeat url("./farmers-market.jpg"), hsla(162, 63%, 3%, 0.55);
  background-blend-mode: multiply;
  text-align: center;
  border-top: 0.5px solid $body-txt-color;
  @include place-ctr(flex, center, center);
  flex-direction: column;
  row-gap: calc(3 * $space-base);
  padding: calc(3 * $space-base) $space-base;
}
.menu-card {
  width: 30rem;
  max-width: 100%;
  min-height: 21.875rem;
  margin: 0 auto;
  background: center / cover no-repeat url("./bacalaoabras.jpeg"), hsla(0, 0%, 0%, 0.4);
  @include box-shadow();
  @include place-ctr(flex, center, center);
  flex-direction: column;
  row-gap: $space-base;
  letter-spacing: 0.5px;
}
.menu-special {
  min-width: 9.375rem;
  padding: calc(0.5 * $space-base) $space-base;
  margin-top: calc(1.5 * $space-base);
  background-color: $accent-red;
  font-weight: $font-wt-med;
  font-size: $small-txt;
  color: $body-txt-color;
  text-transform: uppercase;
}
.menu-dish {
  width: 100%;
  height: 45%;
  padding: calc(0.5 * $space-base) 0 calc(1.5 * $space-base) 0;
  margin-top: auto;
  font-weight: $font-wt-semibold;
  font-size: $highlight-font-sz;
  letter-spacing: 1px;
  background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 0%, 0.45) 31%);
}

footer {
  border: 0.5px solid $body-txt-color;
  width: 100%;
  max-width: 89rem;
}
.copyright {
  width: 100%;
  margin: 0 auto;
  padding: calc(2 * $space-base);
  text-align: center; 
}


// Desktop version
header {
  @include bp(sprout) {
    @include position(sticky, $top: 0, $left: 0);
    width: 89rem;
    max-width: 100%;
    margin: 0;
    height: 6.25rem;
    background-color: $primary-color-red;
    border: 0.5px solid $body-txt-color;
    flex-direction: row;
    z-index: 5;
    input, label, .overlay {
      display: none;
    }
  }
}
nav {
  @include bp(sprout) {
    position: static;
    width: 89rem;
    max-width: 100%;
    height: 6.25rem;
    padding: 0;
    @include place-ctr(flex, center, space-between);
    flex-direction: row;
    .logo, .nav-menu {
      @include place-ctr(flex, center, center);
      flex-direction: row;
    }
    .logo-img-wrapper, .logo-name, li {
      width: 12.5rem;
      height: 6.25rem;
      @include place-ctr(flex, center, center);
      border: none;
      padding: 0;
    }
    .logo-img-wrapper, .logo-name {
      border-right: 0.5px solid $body-txt-color;
    }
    .logo-name {
      width: 13rem;
    }
    .logo-img {
      padding: 0;
    }
    li {
      border-left: 0.5px solid $body-txt-color;
    }
  }
}

.hero {
  @include bp(seed) {
    margin-bottom: 25vh;
  }
  @include bp(seedling) {
    height: 100vh;
    background: center / cover no-repeat url(./landingpg-hero-lg.jpg),  hsla(162, 63%, 3%, 0.15);
    margin-bottom: 0;
  }
}
.welcome-card {
  @include bp(seedling) {
    width: clamp(30rem, 19.8rem + 18vw, 36rem);
    padding: calc(2.5 * $space-base) calc(2 * $space-base);
    @include position(absolute, $top: 40%, $right: 5%);
  }
}
article {
  @include bp(sprout) {
    width: 89rem;
    max-width: 100%;
    display: grid;
    grid-template-columns: 12.5rem 1fr 12.5rem;
    grid-template-rows: auto;
    border-bottom: none;
    padding: 0;
  }
}
.hello, .book-table, .subscribe, footer {
  @include bp(sprout) {
    padding: calc(4 * $space-base) calc(0.5 * $space-base);  
    grid-column: 2 / 3;
    border-left: 0.5px solid $body-txt-color;
    border-right: 0.5px solid $body-txt-color;
  }
}
footer {
  padding: $space-base;
}
// Desktop version, side-by-side
.book-table, .subscribe {
  @include bp(seedling) {
    @include place-ctr(flex, center, space-between);
    flex-direction: row;
    column-gap: calc(1.5 * $space-base);
    padding: 0 calc(1.5 * $space-base);
  }
  @include bp(sprout) { 
    padding: calc(3 * $space-base) 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.hero, .view-menu {
  @include bp(seedling) {
    width: 100%;
    max-width: 89rem;
    border-left: 0.5px solid $body-txt-color;
    border-right: 0.5px solid $body-txt-color;
  }
}